@model CarViewModel

<div class="row">
    <div class="col-12 col-md-2">
        <label class="col-form-label">Model</label>
        <input type="text" disabled class="form-control" id="Model" value="@Model.Model">
    </div>
    <div class="col-12 col-md-2">
        <label class="col-form-label">External Id</label>
        <input type="text" disabled class="form-control" id="ExternalId" value="@Model.ExternalId">
    </div>
    <div class="col-12 col-md-2">
        <label class="col-form-label">Bolts</label>
        <input type="text" disabled class="form-control" id="NrBolts" value="@Model.NrBolts">
    </div>
    <div class="col-12 col-md-4">
        <form asp-action="RemoveCar" asp-controller="Cars">
            <input type="hidden" asp-for="Id" />
            <button type="submit" id="delete-car" class="btn-cars">Delete</button>
        </form>
        <form asp-action="EditCar" asp-controller="Cars">
            <input type="hidden" asp-for="Id" />
            <button type="submit" id="edit-car" class="btn-cars">Edit</button>
        </form>
    </div>
</div>
