@model XpandDEVWebCourse.Web.ViewModels.CarViewModel

@{
    ViewData["Title"] = "EditCar";
}

<h1>EditCar</h1>

<h4>CarViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateCar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label"></label>
                <input asp-for="Id" hidden class="form-control" id="Model"/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input type="text" asp-for="Model" class="form-control" id="Model" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExternalId" class="control-label"></label>
                <input type="text" asp-for="ExternalId" class="form-control" id="Model" />
                <span asp-validation-for="ExternalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NrBolts" class="control-label"></label>
                <input type="text" asp-for="NrBolts" class="form-control" id="Model" />
                <span asp-validation-for="NrBolts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
